// Fonts.
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap);
$raleway: 'Raleway', sans-serif;
$raleway-normal: 500;
$raleway-semiBold: 600;
$raleway-bold: 700;

// Colors.
$siafg-white: #ffffff;
$siafg-palepurp: #f9f8ff;
$siafg-lavender: #d1c6f3;
$siafg-grape: #593ebf;
$siafg-sun: #ffdd94;
$siafg-gray: #4f4f4f;
$siafg-charcoal: #181818;
$siafg-gradient1: linear-gradient(135deg, #ffdd94 0%, #d1c6f3 100%);
$siafg-gradient2: linear-gradient(125.78deg, #fff4dc 0%, #d4c7ff 181.95%);

// Breakpoints.
$screen-md: 768px;
$screen-lg: 1024px;
$screen-max: 1280px;

// Media Queries.
@mixin sm-only {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin md-only {
  @media (min-width: #{$screen-md}) and (max-width: 1024px) {
    @content;
  }
}

@mixin md-max {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

@mixin max {
  @media (min-width: #{$screen-max}) {
    @content;
  }
}

// Site container.
.container {
  padding: 0 30px;

  // @include md {
  //   max-width: #{$screen-md};
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  @include lg {
    // max-width: #{$screen-lg};
    // margin-left: auto;
    // margin-right: auto;
    padding: 0 60px;
  }

  // @include max {
  //   max-width: #{$screen-max};
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}

// Accessibility.
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hidden {
  display: none;
}

// Typography.
h1,
h2,
h3,
h4 {
  color: $siafg-grape;
}

h2 {
  font-size: 28px;
}

body {
  font-family: $raleway;
  font-weight: $raleway-normal;
  font-size: 20px;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.shadow {
  box-shadow: 0px 4px 4px rgba(89, 62, 191, 0.3);
}

ul.card-list {
  li {
    &:not(:first-child) {
      margin-top: 25px;
    }

    &:last-child {
      margin-bottom: 250px;
    }
  }
}

.card {
  padding: 30px 70px;
  background: white;
  border-radius: 10px;
  position: relative;
  line-height: 1.5;
  font-size: 20px;

  input {
    cursor: pointer;
  }

  &:not(:first-child) {
    margin-top: 18px;
  }
}

.glossary-tooltip {
  max-width: 400px;
  font-size: 16px !important;
  line-height: 1.25;
  box-shadow: 0px 2px 12px 0px rgba(253, 229, 229, 0.1);

  &.show {
    opacity: 0.95 !important;
  }
}

input[type='radio' i] {
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

ul {
  padding-inline-start: 0;
  list-style: none;
}

.active {
  text-decoration: underline;
}

// Background shapes + form transitions.
svg.background {
  position: absolute;
  background: #f9f8ff;
  top: 0;
  right: 0;
  width: 70vw;
  transition: width 1s;
  z-index: -1;
  g {
    transition: transform 1s;
    transform: translateY(0);
  }
  &[dataposition='0'] {
    width: 100vw;
  }

  $base: -300px;
  $offset: 100;

  @each $position in 1, 2, 3, 4, 5, 6 {
    &[dataposition='#{$position + 1}'] {
      g.tangerines {
        transform: translateY(#{($base - (0 * $offset)) * $position});
      }
      g.ghosts {
        transform: translateY(#{($base - (1 * $offset)) * $position});
      }
      g.lavenders {
        transform: translateY(#{($base - (2 * $offset)) * $position});
      }
    }
  }
}
